.about{
	padding-bottom: 94px;
}

.img-list{
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.img-list__item{
	position: relative;
	margin-left: 30px;
	margin-top: 30px;
	flex-basis: calc(100% / 3 - 30px);
}

.img-list__wrapper{
	position: absolute;
	background: rgba(47, 48, 58, 0.8);
	width: 100%;
    bottom: 0;
    padding: 27px
}

.img-list__text{
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}