footer{
	background-color: #2F303A;
	padding: 60px 0;
}

.footer-wrap{
	width: 100%;
}

.logo-bottom{
	display: block;
	color: #FFFFFF;
	margin: 0 0 20px;
}

.address-list__link{
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.address-list__item:not(:last-child){
	margin-bottom: 9px;
}

.addr{
	color: #FFFFFF;
}

.footer-container{
	display: flex;
	align-items: baseline;
}

.footer__left-part{
	margin-right: 70px;
}

.footer__right-part{
	margin-right: 93px;
}

.right-part__header{
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.footer__social-container{
	display: flex;
}

footer .social-container__link{
	background: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

.footer-form{
	display: flex;
}

.footer-form__input{
	padding: 15px;
	background: transparent;
	width: 358px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255,255,255,0.6);
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin-right: 12px;
	outline: none;

	&:focus{
		box-shadow: 0 0 1px 1px var(--accent-color);
	}
}

.footer-form__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 28px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.86;
	text-align: center;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	background: var(--accent-color);
	border: none;
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus{
		background: #188CE8;
	}
}

.footer-form__icon{
	margin-left: 10px;
	fill: #ffffff;
}