.logo{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	margin: 0 93px 0 0;
}

.logo__first-part{
	color: var(--accent-color);
}